#header, #body{
    height: 100vh;
}
#header{
    width: 30vw;
    background-color: #230E0E;
}
#body{
    width: 70vw;
    float: right;
    background-color: red;
    font-size: 40px;
}
.david{
    color: white;
    display: flex;
    text-align: center;
}
footer{
    height: 20vh;
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
}
#header img{
    border-radius: 50%;
    width: 20vw;
    height: 40vh;
}
ul li a {
    text-decoration: none;
    color: white;
    font-size: 50px;
}
nav li {
    list-style-type: none;
}
footer a img {
    margin-top: 3vh;
    border-radius: 10%;
    width: 10vw;
    height: 15vh;
    object-fit: fill;
}
ol {
    width: 40vw;
    margin-left: 30%;
    text-align: left;
    font-size: 50px;
}
ol li a {
    text-decoration: none;
}
#abody{
    width: 70vw;
    float: right;
    background-color: red;
    font-size: 20px;
}
h2 {
    font-size: 40px;
    color: black;
}
h3 {
    font-size: 30px;
    color: black;
}
strong {
    font-size: 30px;
}
#list ol li:first-child {
    list-style-image: url("../images/icons8-html-5-36.png");
}
#list ol li:last-child {
    list-style-image: url("../images/icons8-css3-36.png");
}
#sa {
    font-size: 20px;
    width: 60vw;
    margin-left: 1vw;
}